In [1]:
import pandas as pd
import numpy as np
import xlsxwriter
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df = pd.read_csv('C:\Documents\Premi_ClubQ8.csv', sep = ';', decimal=",")


df[['REQUEST_DATE','REQUEST_TIME']] = df.DATA_OPERAZIONE.str.split(" ",expand=True,)

df = df.drop(columns="DATA_OPERAZIONE")

df.columns = ['CUSTOMER_CODE', 'REQUEST_PLACE', 'CATEGORY', 'MATERIAL_GROUPING', 'PRIZE_DESCRIPTION', 'POINTS_REQUIRED', 'CUSTOMER_CONTRIBUTION', 'DATE', 'TIME']
df.dtypes

df['CUSTOMER_CONTRIBUTION'] = df['CUSTOMER_CONTRIBUTION'].astype(float)

df
#df['CUSTOMER_CONTRIBUTION'] = df['CUSTOMER_CONTRIBUTION'].round(decimals = 1)



#df['CUSTOMER_CONTRIBUTION'] = df['CUSTOMER_CONTRIBUTION'].fillna(0.0)

,CUSTOMER_CODE,REQUEST_PLACE,CATEGORY,MATERIAL_GROUPING,PRIZE_DESCRIPTION,POINTS_REQUIRED,CUSTOMER_CONTRIBUTION,DATE,TIME
0,7071161603670014604,ONLINE,PREMIO FISICO,PER LA TUA CASA,CONSEGNA CODICE GIFT CARDS 20E AMAZON,1800.0,NaN,2020-09-01,00:16:21
1,7071161603670014604,ONLINE,PREMIO FISICO,PER LA TUA CASA,CONSEGNA CODICE GIFT CARDS 20E AMAZON,1800.0,NaN,2020-09-01,00:17:30
2,7071161603670014604,ONLINE,PREMIO FISICO,PER LA TUA CASA,CONSEGNA CODICE GIFT CARDS 20E AMAZON,1800.0,NaN,2020-09-01,00:18:49
3,7071161603670014604,ONLINE,PREMIO FISICO,PER LA TUA CASA,CONSEGNA CODICE GIFT CARDS 20E AMAZON,1800.0,NaN,2020-09-01,00:19:42
4,7071161603014051338,PUNTO VENDITA,PREMIO FISICO,PER TE,PRENOTAZIONE PORTA CARTE CREDITO SPARCO,450.0,0.0,2020-09-01,00:34:24
...,...,...,...,...,...,...,...,...,...
501444,7071161603014068530,PUNTO VENDITA,PREMIO FISICO,ELETTRODOMESTICI,PRENOTAZIONE PHILIPS RASOIO,2395.0,0.0,2021-08-31,23:14:00
501445,7071161603670271808,PUNTO VENDITA,PREMIO FISICO,MODA,PRENOTAZIONE OROLOGIO SECTOR,3500.0,30.0,2021-08-31,23:14:59
501446,7071161603014068530,PUNTO VENDITA,PREMIO FISICO,ELETTRONICA,PRENOTAZIONE AVVITATORE,4200.0,15.0,2021-08-31,23:15:02
501447,7071161603007816325,PUNTO VENDITA,PREMIO FISICO,CASA,PRENOTAZIONE PORTABIANCHERIA,4175.0,0.0,2021-08-31,23:24:29
501448,7071161603020806626,PUNTO VENDITA,PREMIO FISICO,ELETTRODOMESTICI,PRENOTAZIONE PHILIPS RASOIO,1750.0,6.0,2021-08-31,23:26:58

In [3]:
df['CUSTOMER_CODE'].nunique()

229882

In [4]:
def summarize_na(df: pd.DataFrame) -> pd.DataFrame:
    nan_count = df.isna().sum()
    return pd.DataFrame({'nan_count': nan_count, 
                         'nan_pct': nan_count / len(df) * 100
                         }
                        )[nan_count > 0]

In [5]:
df_nan_sum = summarize_na(df)
df_nan_sum

                       nan_count   nan_pct
POINTS_REQUIRED              229  0.045668
CUSTOMER_CONTRIBUTION      37895  7.557100

In [6]:
df['CATEGORY'].unique()

array(['PREMIO FISICO', 'BUONO SCONTO CARBURANTE'], dtype=object)

In [7]:
df['REQUEST_PLACE'].unique()

array(['ONLINE', 'PUNTO VENDITA'], dtype=object)

In [8]:
df['MATERIAL_GROUPING'].unique()

array(['PER LA TUA CASA', 'PER TE', 'PER IL TUO BENESSERE',
       'BUONO SCONTO CARBURANTE', 'PER IL TUO VIAGGIO',
       'PER IL TUO BAMBINO', 'PER IL TUO AMBIENTE',
       'PER IL  TUO CUCCIOLO', 'ELETTRONICA', 'TAVOLA & CUCINA',
       'ELETTRODOMESTICI', 'MODA', 'SPORT', 'CASA', 'BAMBINI',
       'TEMPO LIBERO', 'AMICI A 4 ZAMPE', 'GUARDA & PRENOTA',
       'ONLUS & PROGETTI ', 'BELLEZZA & BENESSERE'], dtype=object)

In [9]:
df.dtypes

CUSTOMER_CODE              int64
REQUEST_PLACE             object
CATEGORY                  object
MATERIAL_GROUPING         object
PRIZE_DESCRIPTION         object
POINTS_REQUIRED          float64
CUSTOMER_CONTRIBUTION    float64
DATE                      object
TIME                      object
dtype: object

In [10]:
df2 = pd.read_csv('C:\Documents\Anagrafica_ClubQ8.csv', sep = ';', decimal=",")

df2[['YEAR_JOINED','TIME_JOINED']] = df2.DATA_BATTESIMO.str.split(" ",expand=True,)

df2 = df2.drop(columns="DATA_BATTESIMO")

df2.columns = ['CUSTOMER_CODE', 'SEX', 'DOB', 'REGION', 'PROVINCE', 'CITY', 'TYPE_OF_CARD', 'TOTAL_POINTS', 'YEAR_JOINED', 'TIME_JOINED']

df2

,CUSTOMER_CODE,SEX,DOB,REGION,PROVINCE,CITY,TYPE_OF_CARD,TOTAL_POINTS,YEAR_JOINED,TIME_JOINED
0,7071161603018922195,M,1951-09-14 00:00:00,LAZIO,VITERBO,SUTRI,STARQ8_FISICA,511.0,2015-01-08,12:32:58
1,7071161603005992565,F,1988-09-15 00:00:00,NaN,NaN,NaN,STARQ8_FISICA,379.0,2020-07-10,12:22:35
2,7071161603025867243,F,1943-09-09 00:00:00,LAZIO,ROMA,ROMA,STARQ8_FISICA,108.0,2020-07-10,18:07:14
3,7071161603021997861,M,1974-03-01 00:00:00,SICILIA,MESSINA,MESSINA,STARQ8_FISICA,100.0,2020-07-10,18:08:21
4,7071161603025554049,M,1963-11-22 00:00:00,CAMPANIA,SALERNO,EBOLI,STARQ8_FISICA,284.0,2020-07-10,18:09:27
...,...,...,...,...,...,...,...,...,...,...
1656132,7071161603672630225,F,1962-06-22 00:00:00,EMILIA ROMAGNA,RIMINI,SAN GIOVANNI IN MARIGNANO,STARQ8_FISICA,2741.0,2019-11-27,18:06:31
1656133,7071161603673015798,M,1967-03-19 00:00:00,LAZIO,ROMA,ROMA,STARQ8_FISICA,8996.0,2019-03-21,08:34:30
1656134,7071161603024035909,M,1987-03-18 00:00:00,SICILIA,PALERMO,PALERMO,STARQ8_FISICA,424.0,2021-01-19,09:07:37
1656135,7071161603601002132,F,1984-09-20 00:00:00,LOMBARDIA,BRESCIA,ISEO,STARQ8_VIRTUALE,740.0,2020-12-15,22:57:21
1656136,7071161603012594909,M,1977-09-27 00:00:00,SICILIA,CATANIA,CATANIA,STARQ8_FISICA,NaN,2020-01-22,06:29:01

In [11]:
df2['CUSTOMER_CODE'].nunique()

1656137

In [12]:
check_location = ['REGION', 'PROVINCE', 'CITY']
check_location_isna = df2[check_location].isna()
check_location_isna

         REGION  PROVINCE   CITY
0         False     False  False
1          True      True   True
2         False     False  False
3         False     False  False
4         False     False  False
...         ...       ...    ...
1656132   False     False  False
1656133   False     False  False
1656134   False     False  False
1656135   False     False  False
1656136   False     False  False

[1656137 rows x 3 columns]

In [13]:
for col in check_location[1:]:
    if (check_location_isna[check_location[0]] != check_location_isna[col]).any():
        print(False)
        break  # print False and exit as soon as two columns are found to have NaNs in different rows
else:
    print(True)

True

In [14]:
def print_nan_count(series: pd.Series):
    nan_sum = series.isna().sum()
    print(f"Identified {nan_sum} missing values "
          f"({nan_sum/len(series)*100:02.2f}%) "
          f"in '{series.name}'"
         )

In [15]:
print_nan_count(df2['REGION'])

Identified 121809 missing values (7.36%) in 'REGION'

In [16]:
df2_nan_sum = summarize_na(df2)
df2_nan_sum

              nan_count   nan_pct
SEX                   1  0.000060
REGION           121809  7.355007
PROVINCE         121809  7.355007
CITY             121809  7.355007
TOTAL_POINTS      28930  1.746836
YEAR_JOINED         196  0.011835
TIME_JOINED         196  0.011835

In [17]:

df3 = pd.read_csv('C:\Documents\Rifornimenti_Carburante_ClubQ8.csv', sep = ';', decimal=",")


df3[['REQUEST_YEAR','REQUEST_TIME']] = df3.DATA_OPERAZIONE.str.split(" ",expand=True,)


df3 = df3.drop(columns="DATA_OPERAZIONE")

df3.columns = ['CUSTOMER_CODE', 'STATION_CODE', 'PRODUCT', 'SALES_MODALITY', 'LITRES', 'LOYALTY_POINTS_AWARDED','REQUEST_YEAR','REQUEST_TIME']

df3

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45
4,7071161603011692357,8265,CARICO GPL,SERVITO,31,31,2021-03-01,00:07:29
...,...,...,...,...,...,...,...,...
11787857,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22
11787858,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26
11787859,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56
11787860,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03
11787861,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18

In [18]:
df3['CUSTOMER_CODE'].nunique()

957357

In [19]:
df3_nan_sum = summarize_na(df3)
df3_nan_sum

Empty DataFrame
Columns: [nan_count, nan_pct]
Index: []

In [20]:
df3['PRODUCT'].unique()

array(['CARICO GASOLIO', 'CARICO HIPERFORM DIESEL', 'CARICO GPL',
       'CARICO GASOLIO PESANTE', 'CARICO BENZINA', 'CARICO METANO',
       'CARICO HIPERFORM 100 OTTANI', 'ANNULLO CARICO GASOLIO',
       'ANNULLO CARICO BENZINA', 'ANNULLO CARICO HIPERFORM DIESEL',
       'ANNULLO CARICO GPL', 'ANNULLO CARICO GASOLIO PESANTE',
       'ANNULLO CARICO HIPERFORM 100 OTTANI', 'CARICO METANO PESANTE',
       'ANNULLO CARICO METANO'], dtype=object)

In [21]:
df3['SALES_MODALITY'].unique()

array(['EASY', 'SELF', 'OPT', 'SERVITO', 'OPT POS'], dtype=object)

In [22]:
df3.dtypes

CUSTOMER_CODE              int64
STATION_CODE               int64
PRODUCT                   object
SALES_MODALITY            object
LITRES                     int64
LOYALTY_POINTS_AWARDED     int64
REQUEST_YEAR              object
REQUEST_TIME              object
dtype: object

In [23]:
cols_focus_cat = ['PRODUCT', 'SALES_MODALITY']
cols_focus_num = ['LITRES', 'LOYALTY_POINTS_AWARDED']
cols_focus = cols_focus_cat + cols_focus_num

In [24]:
df3[cols_focus_num].describe()

             LITRES  LOYALTY_POINTS_AWARDED
count  1.178786e+07            1.178786e+07
mean   4.055607e+01            3.723561e+01
std    4.562399e+01            2.589148e+01
min    1.000000e+00           -1.800000e+02
25%    2.000000e+01            1.800000e+01
50%    3.300000e+01            3.100000e+01
75%    5.000000e+01            5.000000e+01
max    1.200000e+03            2.400000e+02

In [25]:
dfmerge = pd.merge(df3,df2, how='left')


dfmerge

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME,SEX,DOB,REGION,PROVINCE,CITY,TYPE_OF_CARD,TOTAL_POINTS,YEAR_JOINED,TIME_JOINED
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57,M,1957-05-13 00:00:00,PIEMONTE,TORINO,TORINO,STARQ8_VIRTUALE,457.0,2020-06-01,15:12:55
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53,M,1961-02-20 00:00:00,PIEMONTE,TORINO,CIRIE',STARQ8_FISICA,1198.0,2021-02-01,10:50:35
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10,M,1992-08-11 00:00:00,LIGURIA,LA SPEZIA,SARZANA,STARQ8_FISICA,1837.0,2020-07-09,08:18:23
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,VENETO,PADOVA,PADOVA,STARQ8_FISICA,1803.0,2015-03-11,22:28:35
4,7071161603011692357,8265,CARICO GPL,SERVITO,31,31,2021-03-01,00:07:29,M,1971-03-27 00:00:00,LAZIO,ROMA,ROMA,STARQ8_FISICA,17568.0,2001-10-21,17:43:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787857,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22,M,1965-10-15 00:00:00,SICILIA,ENNA,PIAZZA ARMERINA,STARQ8_FISICA,22415.0,2013-09-08,07:59:48
11787858,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26,M,1993-09-03 00:00:00,CAMPANIA,NAPOLI,NAPOLI,STARQ8_FISICA,283.0,2021-06-22,17:35:49
11787859,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56,M,1977-03-17 00:00:00,CAMPANIA,SALERNO,EBOLI,STARQ8_FISICA,328.0,2021-08-18,11:12:32
11787860,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03,M,1997-04-11 00:00:00,LAZIO,ROMA,ROMA,STARQ8_VIRTUALE,2430.0,2021-08-31,23:06:09
11787861,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18,M,1975-09-03 00:00:00,CAMPANIA,NAPOLI,NAPOLI,STARQ8_FISICA,23624.0,2017-07-19,12:23:42

In [26]:
print(summarize_na(dfmerge))

              nan_count   nan_pct
SEX              236667  2.007718
DOB              236638  2.007472
REGION          1049995  8.907425
PROVINCE        1049995  8.907425
CITY            1049995  8.907425
TYPE_OF_CARD     236638  2.007472
TOTAL_POINTS     236681  2.007837
YEAR_JOINED      236667  2.007718
TIME_JOINED      236667  2.007718

In [27]:
df = pd.merge(dfmerge, df, how ='left')
df

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME,SEX,DOB,...,YEAR_JOINED,TIME_JOINED,REQUEST_PLACE,CATEGORY,MATERIAL_GROUPING,PRIZE_DESCRIPTION,POINTS_REQUIRED,CUSTOMER_CONTRIBUTION,DATE,TIME
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57,M,1957-05-13 00:00:00,...,2020-06-01,15:12:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53,M,1961-02-20 00:00:00,...,2021-02-01,10:50:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10,M,1992-08-11 00:00:00,...,2020-07-09,08:18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,2015-03-11,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2020-11-27,16:19:23
4,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,2015-03-11,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2021-03-07,20:15:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19137830,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22,M,1965-10-15 00:00:00,...,2013-09-08,07:59:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19137831,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26,M,1993-09-03 00:00:00,...,2021-06-22,17:35:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19137832,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56,M,1977-03-17 00:00:00,...,2021-08-18,11:12:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19137833,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03,M,1997-04-11 00:00:00,...,2021-08-31,23:06:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19137834,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18,M,1975-09-03 00:00:00,...,2017-07-19,12:23:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df['LOYAL'] = np.where(df['CATEGORY'].isna().all, 0, 1)

df

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME,SEX,DOB,...,TIME_JOINED,REQUEST_PLACE,CATEGORY,MATERIAL_GROUPING,PRIZE_DESCRIPTION,POINTS_REQUIRED,CUSTOMER_CONTRIBUTION,DATE,TIME,LOYAL
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57,M,1957-05-13 00:00:00,...,15:12:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53,M,1961-02-20 00:00:00,...,10:50:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10,M,1992-08-11 00:00:00,...,08:18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2020-11-27,16:19:23,0
4,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2021-03-07,20:15:29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19137830,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22,M,1965-10-15 00:00:00,...,07:59:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137831,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26,M,1993-09-03 00:00:00,...,17:35:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137832,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56,M,1977-03-17 00:00:00,...,11:12:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137833,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03,M,1997-04-11 00:00:00,...,23:06:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137834,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18,M,1975-09-03 00:00:00,...,12:23:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [29]:
print(summarize_na(df))

                       nan_count    nan_pct
SEX                       461702   2.412509
DOB                       461644   2.412206
REGION                   1871027   9.776587
PROVINCE                 1871027   9.776587
CITY                     1871027   9.776587
TYPE_OF_CARD              461644   2.412206
TOTAL_POINTS              461687   2.412431
YEAR_JOINED               461673   2.412358
TIME_JOINED               461673   2.412358
REQUEST_PLACE            7674721  40.102347
CATEGORY                 7674721  40.102347
MATERIAL_GROUPING        7674721  40.102347
PRIZE_DESCRIPTION        7674721  40.102347
POINTS_REQUIRED          7681744  40.139044
CUSTOMER_CONTRIBUTION    8602925  44.952446
DATE                     7674721  40.102347
TIME                     7674721  40.102347

In [30]:
df['LOYAL'] = np.where(df['CATEGORY'].isna().all, 0, 1)

df

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME,SEX,DOB,...,TIME_JOINED,REQUEST_PLACE,CATEGORY,MATERIAL_GROUPING,PRIZE_DESCRIPTION,POINTS_REQUIRED,CUSTOMER_CONTRIBUTION,DATE,TIME,LOYAL
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57,M,1957-05-13 00:00:00,...,15:12:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53,M,1961-02-20 00:00:00,...,10:50:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10,M,1992-08-11 00:00:00,...,08:18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2020-11-27,16:19:23,0
4,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45,F,1979-04-25 00:00:00,...,22:28:35,PUNTO VENDITA,BUONO SCONTO CARBURANTE,BUONO SCONTO CARBURANTE,BUONO SCONTO CARB 4E 1290 PUNTI,430.0,0.0,2021-03-07,20:15:29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19137830,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22,M,1965-10-15 00:00:00,...,07:59:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137831,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26,M,1993-09-03 00:00:00,...,17:35:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137832,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56,M,1977-03-17 00:00:00,...,11:12:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137833,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03,M,1997-04-11 00:00:00,...,23:06:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19137834,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18,M,1975-09-03 00:00:00,...,12:23:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [31]:
print(df.Churn.value_counts())

AttributeError: 'DataFrame' object has no attribute 'Churn'

In [ ]:
sns.countplot(df.LOYAL)

In [ ]:
tab = pd.crosstab(index=df['PRODUCT'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['SALES_MODALITY'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['CATEGORY'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['REQUEST_PLACE'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['SEX'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['REGION'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['PROVINCE'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['CITY'], columns='proportion')
tab/tab.sum()

In [ ]:
tab = pd.crosstab(index=df['TYPE_OF_CARD'], columns='proportion')
tab/tab.sum()

In [ ]:
t = df.groupby('SEX')[['Churn']].agg('sum')
t/t.sum()

In [ ]:
t = df.groupby('TYPE_OF_CARD')[['Churn']].agg('sum')
t/t.sum()

In [ ]:
sns.set_style('whitegrid')
g1 = sns.kdeplot(df[df['LOYAL'] == 1]['TOTAL_POINTS'], shade=True, color="b", label='Loyal = True')
g1 = sns.kdeplot(df[df['LOYAL'] == 0]['TOTAL_POINTS'], shade=True, color="r", label='Loyal = False')
plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
plt.xlabel('Total Points', fontsize=18)
plt.ylabel('Frequency', fontsize=18)
plt.show()

In [ ]:
sns.set_style('whitegrid')
g1 = sns.kdeplot(df[df['LOYAL'] == 1]['SEX'], shade=True, color="b", label='Loyal = True')
g1 = sns.kdeplot(df[df['LOYAL'] == 0]['SEX'], shade=True, color="r", label='Loyal = False')
plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
plt.xlabel('Total Points', fontsize=18)
plt.ylabel('Frequency', fontsize=18)
plt.show()